:host {
  display: block;
  margin-bottom: 5rem;
}

paper-toolbar {

  a {

    iron-icon,
    paper-icon-button{
      pointer-events: none;
    }

  }

}

main {
  position: relative;
}

section {

}

#example {
  position: relative;
  z-index: 2;
}

#grid {
  bottom: 0;
  left: 0;
  min-height: 40rem;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  div {
    height: 100%;
  }

  &.show-12-columns {

    .column-12 {
      background-color: rgba(0, 155, 155, 0.25);
    }

  }

  &.show-24-columns {

    .column-24 {
      background-color: rgba(0, 155, 155, 0.25);
    }

  }

}

.container-fixed {
  min-width: 1155px !important;
}

.container-fluid {

}

.container-adaptive {

}

.container-responsive {

}
