@import '../../styles/base/variables';
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

:host {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
}

header {
  display: flex;
  flex-wrap: wrap;

  // &.container-fluid {
  //   width: 100%;
  // }

  paper-toolbar {
    margin-bottom: 1rem;
    width: 100%;

    a {

      iron-icon,
      paper-icon-button{
        pointer-events: none;
      }

    }

  }

  paper-input {

    @media (max-width: $screen-xs-max) {
      --menu-container-display: none;
      flex: 100%;
    }

    @media (min-width: $screen-sm-min) {
      flex: 1;

      &:not(:first-of-type) {
        margin-left: 1.5rem;
      }

      &:not(:last-of-type) {
        margin-right: 1.5rem;
      }

    }

  }

}

main {
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
}

main,
section {
  min-height: 40rem;
}

section#example {
  position: relative;
  z-index: 2;
}

section#grid {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  div {
    height: 100%;
  }

}

code {
  white-space: pre-wrap;
}

#title {
  bottom: 0;
  left: 15px;
  position: absolute;
}

.container-fixed {
  min-width: 1155px !important;
}

.container-fluid {

}

.container-adaptive {

}

.container-responsive {

}
