@import '../../styles/base/variables';
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

:host {
  display: block;
  height: 100%;

  &:not(.show-nested-grid) {
    padding-bottom: 15px;
    padding-top: 15px;

    > .background {
      background-color: rgba(0, 155, 155, 0.25);

      > div {
        display: none;
      }

    }

  }

  &.show-nested-grid {

    > div {

      @media (max-width: $screen-xs-max) {

        > div {
          display: none;
        }

      }

    }

    .nested-grid {
      padding-bottom: 15px;
      padding-top: 15px;

      > .background {
        background-color: rgba(0, 155, 155, 0.25);
      }

    }

  }

  &.show-outline {

    &:not(.show-nested-grid) {
      outline: 1px solid rgba(0, 155, 155, 0.85);
    }

    &.show-nested-grid {

      .nested-grid {
        outline: 1px solid rgba(0, 155, 155, 0.85);
      }

    }

  }

}

div {
  height: 100%;
}
