@import '../../styles/base/variables';
@import "../../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

:host {
  display: block;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  h2 {
    margin: 8px 0;
  }

  paper-icon-button {
    height: 100%;
    line-height: 1;
    order: 1;
  }

}

paper-input {

  @media (max-width: $screen-xs-max) {
    --menu-container-display: none;
    flex: 100%;
  }

  @media (min-width: $screen-sm-min) {
    flex: 1;

    &:not(:first-of-type) {
      margin-left: 1.5rem;
    }

    &:not(:last-of-type) {
      margin-right: 1.5rem;
    }

  }

}
